// Ширина ограничивающего контейнера
$mainContainer: 850px;

// Планшеты, некоторые телефоны в горизонтальном положении
$tablet:  991.98px;

// Телефоны L
$mobile:  767.98px;

// Телефоны S
$mobileSmall:  479.98px;

$mobileBurgerSmall: $mobileSmall - 1; 

// Цвет фона по умолчанию
$mainColorBg: #fff;

// Цвет шрифта по умолчанию
$mainColor: #21243D;

// Размер шрифта по умолчанию
$fontSizeDefault: 16;