@import './fonts/fonts.scss';
@import './constants/vars.scss';
@import './libs/global.scss';
@import './libs/animate.scss';
@import './constants/base.scss';
@import './constants/common.scss';


@import './components/general/preloader.scss';
@import './components/general/header.scss';

/* Index page */
@import './components/section/index/main-index.scss';
@import './components/section/index/page.scss';
@import './components/section/index/posts.scss';
@import './components/section/index/works.scss';

/* Blog page */
@import './components/section/blog/blog-main.scss';
@import './components/section/blog/articles.scss';

/* Work page */
@import './components/section/work/main-work.scss';
@import './components/section/work/work.scss';

/* Contact page */
@import './components/section/contact/main-contact.scss';
@import './components/section/contact/contact.scss';

@import './components/general/footer.scss';