.contact{
    padding-top: 90px;
    padding-bottom: 58px;
    &__form{
        margin: 27px 0 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-inner{
            display: flex;
            gap: 17px;
            margin-bottom: 20px;
            width: 100%;
        }

        &-input {
            border: 1px solid #8695A4;
            width: 50%;
            input{
                padding: 10px 15px 10px 10px;
                width: 100%;
            }
        }

        &-message{
            border: 1px solid #8695A4;
            width: 100%;
            padding: 10px 15px 10px 10px;
            height: 200px;
            resize: none;
        }
    }
}