<section class="contact">
    <div class="contact__container">
        <h1 class="_label-page-title">Contact</h1>

        <form action="#" method="get" class="contact__form">
            <div class="contact__form-inner">
                <div class="contact__form-input"><input type="text" placeholder="Your name"></div>
                <div class="contact__form-input"><input type="tel" placeholder="+1-___-___-____"></div>
            </div>
            <textarea name="message" id="message" placeholder="Your message" class="contact__form-message"></textarea>
            <button class="_label-btn" type="submit">Submit</button>
        </form>
    </div>
</section>