<section class="articles">
    <div class="articles__container">
        <h1 class="_label-page-title wow animate__animated animate__fadeInDown">Blog</h1>

        <ul class="articles__list">
            <li class="articles__list-item wow animate__animated animate__fadeInLeft">
                <h2 class="articles__list-title">UI Interactions of the week</h2>
                <div class="articles__list-inner">
                    <span class="articles__list-date">12 Feb 2019</span>
                    <span class="articles__list-theme">Express, Handlebars</span>
                </div>
                <p class="_label-text">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
            </li>
            <li class="articles__list-item wow animate__animated animate__fadeInRight">
                <h2 class="articles__list-title">UI Interactions of the week</h2>
                <div class="articles__list-inner">
                    <span class="articles__list-date">12 Feb 2019</span>
                    <span class="articles__list-theme">Express, Handlebars</span>
                </div>
                <p class="_label-text">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
            </li>
            <li class="articles__list-item wow animate__animated animate__fadeInLeft">
                <h2 class="articles__list-title">UI Interactions of the week</h2>
                <div class="articles__list-inner">
                    <span class="articles__list-date">12 Feb 2019</span>
                    <span class="articles__list-theme">Express, Handlebars</span>
                </div>
                <p class="_label-text">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
            </li>
            <li class="articles__list-item wow animate__animated animate__fadeInRight">
                <h2 class="articles__list-title">UI Interactions of the week</h2>
                <div class="articles__list-inner">
                    <span class="articles__list-date">12 Feb 2019</span>
                    <span class="articles__list-theme">Express, Handlebars</span>
                </div>
                <p class="_label-text">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
            </li>
        </ul>
    </div>
</section>