.articles {
    padding-top: 106px;
    padding-bottom: 53px;

    &__list {
        margin-top: 55px;
        &-item{
            padding-bottom: 29px;
            margin-bottom: 32px;
            border-bottom: 1px solid #E0E0E0;
        }
        &-title {
            font-size: 30px;
            font-weight: 500;
        }

        &-inner{
            margin-top: 16px;
            margin-bottom: 15px;
        }

        &-date {
            padding-right: 26px;
            margin-right: 26px;
            border-right: 1px solid #000;
        }

        &-theme {
            color: #8695A4;
            font-size: 20px;
            font-weight: 400;
        }
    }
}

@media (max-width: $mobileSmall){
    .articles{
        &__list{
            &-date{
                padding-right: 14px;
                margin: 14px;
            }
        }
    }
}