<footer class="footer">
   <div class="footer__container wow animate__animated animate__fadeInDown">
      <ul class="footer__social">
         <li class="footer__social-item"><a href="#" class="_icon-fb"></a></li>
         <li class="footer__social-item"><a href="#" class="_icon-insta"></a></li>
         <li class="footer__social-item"><a href="#" class="_icon-Linkedin"></a></li>
         <li class="footer__social-item"><a href="#" class="_icon-tw"></a></li>
      </ul>

      <div class="footer__copy"><a href="https://вэб-верстальшик.рф/">Copyright ©2020 All rights reserved </a></div>
   </div>
</footer>