<section class="page">
    <div class="page__container">
        <div class="page__info">
            <h1 class="_label-page-title page__info-title wow animate__animated animate__fadeInLeft">Hi, I am John, Creative Technologist</h1>
            <h2 class="_label-text wow animate__animated animate__fadeInLeft">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </h2>
            <a download="#.txt" class="page__info-btn wow animate__animated animate__fadeInLeft">Download Resume</a>
        </div>
        <div class="page__img wow animate__animated animate__fadeInRight"><img src="./images/photo.webp" alt=""></div>
    </div>
</section>