<section class="posts">
    <div class="posts__container">
        <div class="posts__inner">
            <h3 class="_label-title">Recent posts</h3>
            <button class="posts__inner-view">View all</button>
        </div>

        <ul class="posts__card">
            <li class="posts__card-item">
                <h4 class="posts__card-title">Making a design system from scratch</h4>
                <div class="posts__card-info"><span>12 Feb 2020</span><span>Design, Pattern</span></div>
                <p class="_label-text">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
            </li>
            <li class="posts__card-item">
                <h4 class="posts__card-title">Creating pixel perfect icons in Figma</h4>
                <div class="posts__card-info"><span>12 Feb 2020</span><span>Figma, Icon Design</span></div>
                <p class="_label-text">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
            </li>
        </ul>
    </div>
</section>