.header {
   padding-top: 27px;
}

.menu {
   display: flex;
   align-items: center;
   justify-content: end;


   &__list {
      display: flex;
      align-items: center;
      gap: 33px;
   }

   &__item {
      a {
         color: #000;
         font-size: 20px;
      }
      &:hover {
         a{
            color: #FF6464;
         }
      }
   }
   &__item._active {
      a {
         color: #FF6464;
      }
   }
}

//Burger
.icon-menu {
   display: none;
}

@media(max-width: $mobileSmall) {
   .icon-menu {
      display: block;
      width: 30px;
      height: 18px;
      position: relative;
      z-index: 5;

      span,
      &::after,
      &::before {
         content: '';
         display: block;
         width: 100%;
         transition: all 0.3s ease 0s;
         position: absolute;
         height: 2px;
         background-color: $mainColor;
         cursor: pointer;
      }

      &::before {
         top: 0;
      }

      &::after {
         bottom: 0;
      }

   }

   .menu {
      &__body {
         transition: all 0.6s ease-in-out;
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: #fff;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         display: none;
         transform: translateX(-100%);
      }

      &__list {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         overflow-y: auto;
         height: 200px;
         width: 100%;
      }
   }

   .menu._active {
      .menu__body {
         transform: translateX(0);
      }

      .icon-menu {
         span {
            transform: scale(0);
         }

         &::after {
            transform: rotate(-45deg);
            bottom: 5px;
         }

         &::before {
            top: 10px;
            transform: rotate(45deg);
         }
      }
   }
}

@media (max-width: $mobileBurgerSmall) {
   .menu {
      &__body {
         display: flex;
      }
   }
}