.works {
    padding-top: 37px;
    padding-bottom: 50px;

    &__list {
        margin-top: 54px;

        &-item {
            display: flex;
            gap: 18px;
            padding-bottom: 15px;
            margin-bottom: 31px;
            border-bottom: 1px solid #E0E0E0;
        }

        &-images {
            border-radius: 6px;
            overflow: hidden;
            width: 246px;
            flex-shrink: 0;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &-title {
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 16px;
        }

        &-inner {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-bottom: 20px;
            span {
                display: block;
                font-size: 20px;
                flex-shrink: 0;
                font-weight: 400;
            }

            #worksDate {
                border-radius: 16px;
                background: #142850;

                color: #FFF;
                font-size: 18px;
                font-weight: 900;
                padding: 4px 9px;
            }
        }
    }
}

@media (max-width: $mobile){
    .works{
        &__list{
            &-images{
                width: 60%;
            }
            &-item{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }

}

@media (max-width: $mobileSmall){
    .works{
        &__list{
            &-images{
                width: 246px;
            }
            &-item{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }

}